<h1>rooms</h1>
            <form method="POST" action="/room">
                <input type="text" name="number" placeholder="Number" required />
                <input type="text" name="beds" placeholder="Beds" required />
                <button type="submit">send</button>
            </form>